<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p> {{ serverName }}</p> -->
<input type="text" class="form-control"[(ngModel)]="serverName">

<p> {{ 'Server' }} with ID {{ serverId }} is {{ getserverStatus() }}</p>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<p></p>
<button class="btn btn-primary" [disabled]="serverName ===''"(click)="serverName = ''">Reset Server Name</button>

<p>{{ allowNewServer }}</p>

<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated" >Server was created, server name is {{ serverName }}</p>

<p [innerText]="allowNewServer"> </p>
